root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml,md}]
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:warning

# File header. The Apache short header is:
# // Copyright 2023 Vercel, Inc.
# // SPDX-License-Identifier: Apache-2.0
file_header_template = Copyright 2023 Vercel, Inc.\nSPDX-License-Identifier: Apache-2.0
dotnet_diagnostic.IDE0073.severity = warning
